name: CI

on: [push]
env:
  DOCKER_REPO: mrsimpson
  DOCKER_IMAGE: abap-fibonacci
  DOCKER_CLI_EXPERIMENTAL: enabled
  TAG: ''

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: OpenFaaS build and push
        uses: mrsimpson/action-openfaas-build@456b3fc
        with:
          # The OpenFaaS function definition file
          stack-file: stack.yml
          # Your docker username with push authorization
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          # Your docker username with push authorization
          docker-password: ${{ secrets.DOCKER_PASSWORD }}
          # the platform abbreviations to build for, e. g. linux/amd64,linux/arm/v7
          platforms: linux/amd64,linux/arm/v7
      - name: Install OpenFaaS CLI
        run: |
          curl -sSL https://cli.openfaas.com | sudo sh
      - name: Login to OpenFaaS
        run: |
          echo ${{ secrets.OPENFAAS_PASSWORD }} | faas-cli login --gateway ${{ secrets.OPENFAAS_GATEWAY }} -u ${{ secrets.OPENFAAS_USERNAME }} --password-stdin
      - name: deploy
        if: success() && github.ref == 'refs/heads/master'
        run: |
          faas-cli deploy -g ${{ secrets.OPENFAAS_GATEWAY }} --tag sha
