name: CI

on: [push]

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: LucasRoesler/openfaas-action/build@v0.1.0
        with:
          path: "stack.yml"
          tag: "sha"
      - name: Login to Docker Hub
        uses: actions/docker/login@master
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - uses: LucasRoesler/openfaas-action/login@v0.1.0
        name: Login
        with:
          gateway: ${{secrets.OPENFAAS_GATEWAY}}
          username: ${{secrets.OPENFAAS_USERNAME}}
          password: ${{secrets.OPENFAAS_PASSWORD}}
      - name: Publish image
        if: "success() && github.ref == 'refs/heads/master' "
        uses: LucasRoesler/openfaas-action/push@v0.1.0
        with:
          path: "stack.yml"
          tag: "sha"
      - uses: LucasRoesler/openfaas-action/cli@v0.1.0
        if: "success() && github.ref == 'refs/heads/master' && 1 == 0 "
        name: deploy
        with:
          args: deploy -g ${{secrets.OPENFAAS_GATEWAY}} --tag sha


